---
"extends":
  - "defaults/configurations/walmart/es6-node"

"env":
  "node": 1
"ecmaFeatures":
  "arrowFunctions": 1
  "blockBindings": 1
  "classes": 1
"rules":
  "filenames/filenames": 0
  "quotes": [2, "single"]
